@{
  ViewData["Title"] = "Create";
}

<h1>Add a Cat</h1>

<form action="/cats/create" method="post">
  <label for="Name">Name:</label>
  <input id="Name" name="Name" type="text" required="required">
  <label for="description">Description:</label>
  <input id="description" name="description" type="text" required="required">
  <label for="gender">Gender:</label>
  <input id="gender" name="gender" type="text" required="required">
  <label for="age">Age:</label>
  <input id="age" name="age" type="text" required="required">
  <button type="submit">Add!</button>
</form>