@{
  ViewData["Title"] = "Search Cats";
}

<h1>Search Cats</h1>

<form asp-controller="Cats" asp-action="Search">
  <p>
    Search Cats: <input type="text" name="searchString" />
    @* Search by age: <input type="number" name="searchString" /> *@
    <input type="submit" value="Search">
  </p>
</form>

<ul>
  @foreach (Cat cat in Model)
  {
    <li>@Html.ActionLink($"{cat.Name}", "Details", new { id = cat.CatId })</li>
    <hr style="width: 75%;" />
  }
</ul>
